# dependencies
node_modules

# build output
dist
dist-ssr

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor / os
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea

# env
*.local
.env
.env.*
