.page
  min-height: 100vh
  display: flex
  flex-direction: column
  background-color: #000000
  color: #ffffff

  &__content
    flex: 1
    padding: var(--rl-thickness) var(--rl-thickness-2) !important

  &__cards
    display: flex
    flex-direction: column
    gap: 2rem
    width: 100%

  &__footer-text
    font-family: 'Roboto Flex', sans-serif
    font-weight: 400
    color: #ffffff
    white-space: nowrap

    a
      color: #ffffff
      text-decoration: underline
